@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; /* Nuclear option for overflow */
  }
  
  /* Reset all elements (optional) */
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }